html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", "sans-serif";
  background: rgb(239, 244, 251);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* HEADER */
.header {
  height: 80px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 7px 8px -4px rgba(192, 192, 192, 1);
  padding: 0 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav__el-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  font-weight: 800;
  text-decoration: none;
  color: #2188FF;
}

.nav__logo-img {
  width: 60px;
}

.nav__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 300;
  color: rgb(107, 107, 107);
  font-size: 18px;
}

.nav__user-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.nav__el {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  height: 40px;
  padding: 0 20px;
  text-decoration: none;
}
.nav__icon {
  display: none;
}

.nav__el--login {
  background: #2188FF;
}

.nav__el--signup {
  background: #ffaa21;
}

.nav__el:hover {
  background: hsl(212, 77%, 41%);
}

.nav__el:active {
  background: hsl(212, 78%, 30%);
}

.nav__el--logout {
  background: hsl(0, 0%, 53%);
}
.nav__el--logout:hover {
  background: hsl(0, 0%, 60%);
}
.nav__el--logout:active {
  background: hsl(0, 0%, 65%);
}

/* OVERVIEW */
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 100px;
}
.hero {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #252525;
  text-align: center;
}
.hero-primary {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}
.hero-description {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}
.filters-form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background: white;
  border-radius: 10px;
}
.filters-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.filters-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.filters-label {
  font-weight: 300;
  font-size: 16px;
  color: #252525;
}
.filter-select {
  font-weight: 400;
  font-size: 16px;
  color: #373737;
  padding: 4px 10px;
  background: #ebebeb;
  border-radius: 6px;
  border: 1px solid rgb(201, 201, 201);
  width: 100%;
}
.filters-submit {
  width: 120px;
  padding: 6px 10px;
  background: #2188FF;
  color: white;
  border: 1px solid #2188FF;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
}
.filters-submit:hover {
  background: hsl(212, 77%, 41%);
}
.filters-submit:active {
  background: hsl(212, 78%, 30%);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* TRAINING CARD */
.card {
  display: flex;
  justify-content: space-between;
  background: white;
  gap: 20px;
  border-radius: 10px;
  padding: 30px;
}
.card__box{
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
}
.card__box--right {
  text-align: right;
  gap: 10px;
}
.card__header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.card__img-discipline {
  width: 24px;
  height: 24px;
}
.card__title{
  margin: 0;
  color: #252525;
  font-size: 20px;
  font-weight: 600;
}
.card__level {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  padding: 3px 10px;
  border-radius: 10px;
}
.card__level--beginner {
  background: rgb(186, 254, 186);
  color: rgb(0, 96, 0);
}
.card__level--intermediate {
  background: rgb(254, 254, 197);
  color: rgb(126, 82, 0);
}
.card__level--advanced {
  background: rgb(255, 192, 192);
  color: rgb(144, 0, 0);
}
.card__text {
  margin: 0;
  color: #373737;
  font-size: 16px;
  font-weight: 300;
}
.card__data  {
  display: flex;
  gap: 20px;
}
.card__subBox {
  display: flex;
  align-items: center;
  gap: 4px;
  color: grey;
  font-size: 14px;
  font-weight: 400;
}
.card__icon {
  height: 20px;
  width: 20px;
}
.card__price {
  margin: 0;
  color: #2188FF;
  font-size: 26px;
  font-weight: 600;
}
.card__btn {
  background: #2188FF;
  color: white;
  text-decoration: none;
  height: 34px;
  width: 160px;
  padding: 8px 10px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.card__btn:hover {
  background: hsl(212, 77%, 41%);
}
.card__btn:active {
  background: hsl(212, 78%, 30%);
}

/* TRAINING */
.heading-secondary {
  margin: 10px 0;
  padding-bottom: 10px;
  font-size: 24px;
  font-size: 500;
  color: #252525;
}
.heading-underline {
  height: 2px;
  background-color: rgba(33, 136, 255, 1);
  background-image: linear-gradient(90deg, rgba(33, 136, 255, 1) 0%, rgba(41, 53, 86, 1) 100%);
}
.training-view {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 30px;
}
.training-view__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.training-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.training-header-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.training-icon {
  height: 24px;
  width: 24px;
}
.heading-primary {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #252525;

}
.training-summary {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #252525;
}
.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.info-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 20px;
  font-size: 14px;
  color: #252525;
  border-radius: 10px;
  box-shadow: -6px 6px 12px -10px rgba(90, 91, 109, 1);
}
.info-box__icon-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info-box__icon {
  height: 20px;
  width: 20px;
}
.info-box__text {
  color: #868686;
}
.trainers-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heading-tertiary {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}
.trainer-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.trainer-img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: -6px 6px 12px -10px rgba(90, 91, 109, 1);
}
.trainer-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  color: #252525;
}
.trainer-name {
  font-weight: 500;
}
.trainer-role {
  color: #868686;
}
.reviews-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-card {
  display: flex;
  background: white;
  box-shadow: 0px 0px 12px -6px rgba(90, 91, 109, 1);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  min-height: 80px;
}
.review-user-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.review-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-heading  {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #252525;
  font-size: 14px;
}
.review-rating {
  display: flex;
  align-items: center;
  gap: 2px;
}
.review-star {
  width: 16px;
  height: 16px;
}
.review-description {
  margin: 0;
  font-weight: 300;
  color: #555555;
  font-size: 14px;
}
.training-sidebar {
  margin-top: 20px;
}
.booking-card  {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: -6px 6px 12px -10px rgba(90, 91, 109, 1);
}
.booking-card__price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #868686;  
}
.booking-card__price {
  font-size: 32px;
  font-weight: 700;
  color: #2188FF;
}
.booking-card__details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  color: #868686; 
}
.booking-detail-row {
  display: flex;
  justify-content: space-between;
}
.booking-detail-highlight {
  color: rgb(30, 220, 8);
  font-weight: 500;
}
.booking-rating {
  display: flex;
  gap: 2px;
}
.booking-star {
  width: 16px;
  height: 16px;
}
.booking__btn {
  height: 50px;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background: #2188FF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
}
.booking__btn:hover {
  background: hsl(212, 77%, 41%);
}
.booking__btn:active {
  background: hsl(212, 78%, 30%);
}

/* LOGIN PAGE */
.main--login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 15px;
  width: 500px;
  padding: 30px;
}
.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.login-icon {
  width: 70px;
  height: 70px;
}
.login-logo {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #252525;
}
.login-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #868686;
}
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form__label {
  font-size: 16px;
  color: #252525;
}
.form__input {
  background: hwb(0 93% 7%);
  color: #373737;
  border-radius: 5px;
  border: 1px solid hwb(0 93% 7%);
  padding: 5px 10px;
  height: 35px;
  font-size: 14px;
  transition: border-color 0.2s ease-in-out;
}
.form__input:focus {
  border-color: #b5b5b5;
  outline: none;
} 
.form__input:hover {
  border-color: #b5b5b5;
}
.form__error {
  font-size: 12px;
  color: red;
}
.hidden {
  display: none;
}
.form-button {
  background: #252525;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 10px;
  height: 35px;
  font-size: 14px;
  margin-top: 10px;
  border: none;
  transition: border-color 0.2s ease-in-out;
}
.form-button:hover {
  background: hsl(0, 0%, 20%);
}
.form-button:active {
  background: hsl(0, 0%, 25%);
}
.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}
.login-link {
  font-size: 14px;
  color: #0d4de4;
  text-decoration: none;
}
.login-link:hover {
  text-decoration: underline;
}

/* ALERT */
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 12px 75px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

/* FOOTER */
.footer {
  margin-top: 100px;
  background: #373737;
  padding: 30px 100px;
  display: flex;
  gap: 30px;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #2188FF;
  width: fit-content;
}
.footer__logo-img {
  height: 40px;
  width: 40px;
}
.footer__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.footer__nav {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__nav li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
}
.footer__nav li a:hover {
  text-decoration: underline;
}
.footer__copyright {
  color: white;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.footer__copyright p {
  margin: 0;
}
.footer__author {
  display: flex;
  flex-direction: row-reverse;
}

@media(max-width: 1400px) {
  .header {
    height: 70px;
    padding: 10px 50px;
  }
  .nav__user {
    font-size: 16px;
  }
  .nav__el-logo {
    font-size: 30px;
    gap: 8px;
  }
  .nav__logo-img {
    width: 50px;
  }
  .nav__el {
    font-size: 16px;
    height: 36px;
  }

  .main {
    padding: 20px 50px;
    gap: 15px;
  }
  .hero {
    gap: 12px;
  }
  .hero-primary {
    font-size: 20px;
  }
  .hero-description {
    font-size: 16px;
  }
  .filters-form {
    margin: 15px 0;
    gap: 15px;
    padding: 20px;
  }
  .filters-box {
    gap: 10px;
  }
  .filters-label {
    font-size: 14px;
  }
  .filter-select {
    font-size: 14px;
    padding: 4px 8px;
  }
  .filters-submit {
    font-size: 14px;
  }

  .card-container {
    gap: 15px;
  }
  /* TRAINING CARD */
  .card {
    padding: 20px;
  }
  .card__box{
    gap: 18px;
  }
  .card__box--right {
    gap: 8px;
  }
  .card__header {
    gap: 16px;
  }
  .card__img-discipline {
    width: 22px;
    height: 22px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__level {
    padding: 2px 10px;
  }
  .card__data  {
    gap: 16px;
    flex-wrap: wrap;
  }
  .card__subBox {
    font-size: 12px;
  }
  .card__price {
    font-size: 24px;
  }
  .card__btn {
    height: 32px;
    width: 140px;
    font-size: 14px;
  }

  /* TRAINING PAGE */
  .heading-secondary {
    margin: 8px 0;
    padding-bottom: 8px;
    font-size: 20px;
  }
  .training-view {
    column-gap: 20px;
  }
  .training-view__content {
    gap: 20px;
  }
  .training-icon {
    height: 22px;
    width: 22px;
  }
  .heading-primary {
    font-size: 22px;
    font-weight: 600;
  }
  .training-summary {
    font-size: 14px;
  }
  .info-grid {
    gap: 15px;
  }
  .info-box {
    gap: 8px;
    padding: 16px;
  }
  .info-box__icon-wrapper {
    gap: 8px;
  }
  .info-box__icon {
    height: 18px;
    width: 18px;
  }
  .trainers-view {
    gap: 8px;
  }
  .heading-tertiary {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .trainer-card {
    gap: 8px;
  }
  .trainer-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  .trainer-info {
    /* gap: 4px; */
    font-size: 14px;
  }
  .reviews-view {
    gap: 8px;
  }
  .review-card {
    padding: 8px;
    gap: 8px;
    min-height: 70px;
  }
  .review-user-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .review-info {
    gap: 8px;
  }
  .review-heading  {
    gap: 8px;
    font-size: 14px;
  }
  .review-star {
    width: 14px;
    height: 14px;
  }
  .review-description {
    font-size: 13px;
  }
  .booking-card  {
    gap: 20px;
    padding: 20px;
  }
  .booking-card__price-box {
    gap: 8px;
    font-size: 14px;
  }
  .booking-card__price {
    font-size: 24px;
    font-weight: 600;
  }
  .booking-card__details {
    gap: 8px;
    font-size: 14px;
  }
  .booking-star {
    width: 14px;
    height: 14px;
  }
  .booking__btn {
    height: 45px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
  }
  /* FOOTER */
  .footer {
    margin-top: 70px;
    padding: 30px 50px;
  }
  .footer__logo {
    gap: 6px;
    font-size: 20px;
  }
  .footer__logo-img {
    height: 30px;
    width: 30px;
  }
  .footer__box {
    gap: 15px;
  }
  .footer__nav {
    gap: 6px;
  }
  .footer__nav li a {
    font-size: 14px;
  }
  .footer__copyright {
    font-size: 14px;
    gap: 10px;
  }
}

@media(max-width: 940px) {
  .info-grid {
    grid-template-columns: 1fr;
  }
  .training-view {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 640px) {
  .header {
    height: 60px;
    padding: 0 20px;
  }
  .nav {
    gap: 8px;
  }
  .nav__user {
    font-size: 12px;
  }
  .nav__user-img {
    height: 24px;
    width: 24px;
  }
  .nav__user--name {
    display: none;
  }
  .nav__el-logo {
    font-size: 20px;
    gap: 4px;
  }
  .nav__logo-img {
    width: 40px;
  }
  .nav__el {
    font-size: 12px;
    font-weight: 400;
    height: 24px;
    padding: 0 10px;
  }
  .nav__el--logout {
  background: white;
  }
  .nav__el--logout:hover {
    background: white;
  }
  .nav__el--logout:active {
    background: none;
  }
  .nav__text {
    display: none;
  }
  .nav__icon {
    display: inline;
    width: 16px;
    height: 16px;
  }

  /* OVERVIEW */
  .main {
    padding: 10px 20px;
    gap: 0px;
  }
  .hero {
    gap: 8px;
  }
  .hero-primary {
    font-size: 16px;
  }
  .hero-description {
    font-size: 12px;
  }
  .filters-form {
    margin: 10px 0;
    gap: 10px;
    padding: 12px;
  }
  .filters-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .filters-group {
    gap: 2px;
  }
  .filters-label {
    font-size: 12px;
  }
  .filter-select {
    font-size: 12px;
    padding: 2px 8px;
  }
  .filters-submit {
    width: 100px;
    padding: 4px 8px;
    font-size: 12px;
  }

  .card-container {
    gap: 10px;
  }
  /* TRAINING CARD */
  .card {
    padding: 12px;
    flex-direction: column;
    justify-content: none;
    width: 100%;
    gap: 10px;
  }
  .card__box{
    align-self: flex-start;
    gap: 14px;
  }
  .card__box--right {
    gap: 6px;
    align-self: flex-end;
  }
  .card__header {
    gap: 12px;
  }
  .card__img-discipline {
    width: 18px;
    height: 18px;
  }
  .card__title {
    font-size: 14px;
  }
  .card__level {
    font-size: 12px;
    padding: 2px 8px;
  }
  .card__text {
    font-size: 12px;
  }
  .card__data  {
    gap: 8px;
  }
  .card__subBox {
    font-size: 11px;
  }
  .card__icon {
    height: 16px;
    width: 16px;
  }
  .card__price {
    font-size: 18px;
  }
  .card__btn {
    max-height: 24px;
    width: 120px;
    padding: 4px 8px;
    font-size: 12px;
  }

  /* TRAINING PAGE */
  .heading-secondary {
    margin: 6px 0;
    padding-bottom: 6px;
    font-size: 16px;
  }
  .heading-underline {
    height: 1px;
  }
  .training-view {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .training-view__content {
    gap: 10px;
  }
  .training-header {
    gap: 8px;
  }
  .training-header-box {
    gap: 8px;
  }
  .training-icon {
    height: 18px;
    width: 18px;
  }
  .heading-primary {
    font-size: 18px;
    font-weight: 500;
  }
  .training-summary {
    font-size: 12px;
  }
  .info-grid {
    gap: 8px;
  }
  .info-box {
    padding: 10px;
    font-size: 12px;
  }
  .info-box__icon-wrapper {
    gap: 6px;
  }
  .info-box__icon {
    height: 14px;
    width: 14px;
  }
  .trainers-view {
    gap: 8px;
  }
  .heading-tertiary {
    margin: 6px 0;
    font-size: 14px;
  }
  .trainer-card {
    gap: 6px;
  }
  .trainer-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .trainer-info {
    gap: 2px;
    font-size: 12px;
  }
  .trainer-name {
    font-weight: 400;
  }
  .reviews-view {
    gap: 6px;
  }
  .review-user-img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
  .review-info {
    gap: 6px;
  }
  .review-heading  {
    gap: 6px;
    font-size: 12px;
  }
  .review-rating {
    gap: 1px;
  }
  .review-star {
    width: 12px;
    height: 12px;
  }
  .review-description {
    font-size: 12px;
  }
  .training-sidebar {
    margin-top: 10px;
  }
  .booking-card  {
    gap: 10px;
  }
  .booking-card__price-box {
    gap: 6px;
    font-size: 12px;
  }
  .booking-card__price {
    font-size: 18px;
  }
  .booking-card__details {
    gap: 6px;
    font-size: 12px;
  }
  .booking-detail-highlight {
    font-weight: 400;
  }
  .booking-star {
    width: 12px;
    height: 12px;
  }
  .booking__btn {
    height: 36px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
  }

  /* LOGIN PAGE */
  .main--login {
    justify-content: flex-start;
    min-height: auto;
    padding: 0;
    width: 100%;
    margin-top: 10px;
  }
  .login-form {
    gap: 10px;
    border-radius: 0;
    width: 100%;
    padding: 20px;
  }
  .login-header {
    gap: 4px;
  }
  .login-icon {
    width: 40px;
    height: 40px;
  }
  .login-logo {
    font-size: 14px;
    font-weight: 600;
  }
  .login-text {
    font-size: 14px;
  }
  .form__group {
    gap: 4px;
  }
  .form__label {
    font-size: 14px;
  }
  .form__input {
    border-radius: 4px;
    padding: 3px 6px;
    height: 30px;
    font-size: 12px;
  }
  .form__error {
    font-size: 10px;
  }
  .form-button {
    border-radius: 4px;
    padding: 3px 6px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
  }
  .login-footer {
    gap: 2px;
    font-size: 12px;
  }
  .login-link {
    font-size: 12px;
    text-decoration: underline;
  }
  /* FOOTER */
  .footer {
    margin-top: 50px;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
  }
  .footer__logo {
    gap: 4px;
    font-size: 16px;
  }
  .footer__logo-img {
    height: 25px;
    width: 25px;
  }
  .footer__box {
    gap: 12px;
  }
  .footer__nav {
    gap: 4px;
  }
  .footer__nav li a {
    font-size: 12px;
  }
  .footer__copyright {
    font-size: 12px;
    gap: 20px;
  }
}
